body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.s1{
    display:flex;
    justify-content: space-evenly;
    background-color: #2D25A0;
  margin-bottom: 100px;
}
.s1-h1{
    color: white;
    font-size:45px;
    font-weight:700;
    line-height:80px;
 
    
}
.s1-h3{
    background-color:#E02C6D;
  color: white;
  padding: 10px 24px;
  font-weight: 200;
  transition: 1s ease;
  display: inline-block;


}
.s1-h3:hover{
background-image: linear-gradient(orangered,white);
font-size: 25px;

}

.s1-d1{
    padding-top: 234px;
    padding-bottom: 234px;
    padding right: 200px;
}
.s1-d2 img{
    padding-top: 134px;
    padding-bottom: 60px;
    height: 464px;
    width: 556px;
   margin-top: 100px;
   transition: transform 1.5s ease-in-out;
   
    
}
.s1-d2 img:hover{
    transform: scale(1.35);
   
}
.s1-h1{
    padding-right: 100px;

}



/*  section 2 */


.s2-main-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
  margin: 10%;
  padding: 50px;
    
}
.s2-common-d{
    height: 474px;
    width: 280px;
    left: 180px;
    top: 747px;
    border-radius: 0px;
    padding: 15px;
    box-shadow: 10px 20px 5px gray;
    border-radius: 10px;
    height: 600px;
    margin: 10px 20px;
    
    
}
.s2-common-d p{
    font-size: 16px;

}
.s2-common-d img{
    width: 100%;
    border-radius: 10px;
}
.player{
    font-size: 25px;
    background-image: linear-gradient(white,orangered);
    color: white;
    display: inline-block;
    border: 10px solid orangered;
    border-radius: 5px;
    padding: 0 5px;
}


/* sectuion 3 */
.s3-main-d{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 100px;
}
.s3-d3 img{
    width: 500px;
    height: 400px;
    margin-left: 100px;
}
#p1{
    font-size: 45px;
}
/* section 4 */
.s4{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.s4-d2 iframe{
height: 500px;
width: 700px;

}
.foter-d1 img{
    height:100px;
    width: 300px;
    margin-left: 40%;
    
}
.foter-d1 {
    justify-content: center;
}
.s5-common-d{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 25px;
}
.icon{
    padding: 10px;
    font-size: 30px;
}
#copyright{
    margin-left: 45%;
}
/*------------------------
 Responsive for Mobile 
 -------------------------*/
 @media only screen and (max-width: 480px) {
    .s1 {
      height: 695px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    .s1-d1 {
      padding: 16px;
    }
    .s1-h1 {
      font-size: 36px;
    }
    .s1-h3 {
      width: 168px;
      height: 44px;
    }
    .s1-d2 img {
      width: 329px;
    }
    .s2 {
      flex-direction: column;
      align-items: center;
    }
    .s2-main-div {
      grid-template-columns: 1fr;
    }
    .icon, .s5-common-d1 {
      width: 100%;
    }
    #logo {
      width: 150px;
      padding-right: 20px;
    }
    footer, .s5-common-d {
      width: 270px;
      margin: 0 auto;
    }
    .fab {
      margin: 0px;
    }
    .s4-d2 iframe{
        height: 200px;
        width: 300px;
        
        }
        .s3-d3 img{
            width: 300px;
            height: 200px;
        }
        s3-d2{
            grid-template-columns: 1fr;
        }
        .s1-h1{
            color: white;
            font-size:18px;
            font-weight:700;
           
            
        }
        .s1-d2 img {
            
            height:200px;
            width: 300px;
            padding-bottom: 200px;
        }
        s1-d1{
          
        
            padding-left: 100px;
            
            justify-content:center;
  
  
        }


        .s1-h3:hover{
            background-image: linear-gradient(orangered,white);
            font-size: 20px;
            
            }
            



}